html {
    background-color: rgb(0, 0, 56);
    color: greenyellow;
}

a:hover {
    background-color: orangered;
}

input:focus {
    background-color: orangered;
}

.ranking li:first-child {
    background-color: blue;
    width: 15vw;
}

.ranking li:last-child {
    background-color: blue;
    width: 15vw;
}

.ranking li:nth-child(3) {
    background-color: blue;
    width: 15vw;

}

/*  1.메뉴링크에 마우스오버
    2.로그인 입력창 포커스
    3.랭킹리스트 첫항목
    4.랭킹리스트 막항목
    5.랭킹리스트 3항목 */